@import '../../globalStyles/partials/variables.scss';

.information_text{
    font-size: $mobileLargeSize;
    line-height: 160%;
    color: var(--secondaryFontColor);
    text-align: center;
    max-width: 80%;
    margin: $spaceBetweenSections auto;
}