@import '../../globalStyles/partials/variables.scss';

.list{
    padding: $mobileSectionInnerSpace;
    border: 1px solid var(--turquoiseColor);
    border-radius: $mobileBorderRadius;
    margin: $spaceBetweenSections 0;
    h2{
        font-size: $mobileHeader;
        color: var(--turquoiseColor);
        margin: 0;
        margin-top: $mobileSectionInnerSpace;
    }
    & > :not(:first-child):not(:last-child) {
        border-bottom: 1px solid var(--turquoiseColor);
    }
}

@media screen and (min-width: $desktop) {
    .list{
        border: none;
    }
    .list_elements_container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($desktopGridBoxSize, 1fr));
        grid-row-gap: 50px; 
        grid-column-gap: 100px;
        align-items: stretch;
    }
}