@mixin button() {
    padding: $buttonMobilePadding;
    border: 1px solid var(--mainFontColor);
    border-radius: $mobileBorderRadius;
    color: var(--mainFontColor);
    font-size: $mobileButton;
    background-color: transparent;
    transition: .3s all;
    &:hover{
        background-color: $lightGrey;
    }
    @media screen and (min-width: $desktop) {
        font-size: $desktopButton;
        border-radius: $desktopBorderRadius;
    }
}