// breakpoints
$tablet: 768px;
$desktop: 1024px;

//global
$mobileBorderRadius: 25px;

// font size
$mobileHeader: 28px;
$mobileButton: 18px;
$mobileMediumSize: 18px;
$mobileLargeSize: 20px;


// colors
$lightGrey: #fff3; // secondary font color
$errorRed: red;

// spaces
$spaceBetweenSections: 32px;
$mobileSectionInnerSpace: 24px;

// button
$buttonMobilePadding: 8px 20px;
$buttonDesktopPadding: 10px 20px;