@import '../../globalStyles/partials/variables.scss';

.form_container{
    margin: $spaceBetweenSections 0;
    padding: $mobileSectionInnerSpace;
    border: 1px solid var(--turquoiseColor);
    border-radius: $mobileBorderRadius;
}

h1{
    font-size: $mobileHeader;
    color: var(--turquoiseColor);
    margin: 0 auto $mobileSectionInnerSpace;
}

.confirmation_button{
    display: block;
    margin-left: auto;
    margin-top: $mobileSectionInnerSpace;
}

@media screen and (min-width: $desktop) {
    .form_container{
        border: none;
        width: 60%;
        margin: 0 auto;
    }
    h1{
        text-align: center;
    }
}