@import '../../globalStyles/partials/variables.scss';

.form_fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: calc($mobileSectionInnerSpace / 2);
    padding: 0;
    margin-bottom: $mobileSectionInnerSpace;
    label{
        font-size: $mobileLargeSize;
        color: var(--mainFontColor);
    }
    input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--mainFontColor);
        color: var(--secondaryFontColor);
        transition: .5s all;
        font-size: $mobileMediumSize;
        padding-bottom: 10px;
        &:focus,
        &:focus-visible{
            border: none;
            outline: none;
            border-bottom: 1px solid var(--mainFontColor);
        }
        &::placeholder{
            font-size: $mobileMediumSize;
            color: var(--secondaryFontColor);
        }
    }
    p{
        margin: 0;
        color: $errorRed;
        font-size: $mobileMediumSize;
    }
}

@media screen and (min-width: $desktop) {
    .form_fieldset{
        input{
            width: 50%;
        }
    }
}